<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <title>@ViewData["Title"] - CraftShop</title>
</head>
<body class="pb-4">
    @await Html.PartialAsync("_Navbar")
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/masonry.pkgd.min.js"></script>
</body>
</html>