<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="/users/dashboard">CraftShop</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/crafts/new">Sell a Craft</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/crafts">Shop Crafts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/orders">Order History</a>
                </li>
            </ul>
        </div>
    </div>
</nav>