@{
    int userId = 0;
    int? sessionUserId = Context.Session.GetInt32("userId");
    if (sessionUserId is not null)
    {
        userId = (int)sessionUserId;
    }
}

@model Order

<div class="card">
    <h5 class="card-header">Purchase This Item</h5>
    <div class="card-body">
        <form asp-action="CreateOrder" asp-controller="Crafts" method="post">
            <input type="hidden" asp-for="UserId" value="@userId" />
            <input type="hidden" asp-for="CraftId" value="@Model.CraftId" />
            <div class="mb-3">
                <select asp-for="Quantity" class="form-select">
                    <option value="0" selected hidden disabled>Select Quantity:</option>
                    @for (int i = 1; i <= ViewBag.quantity; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="Buy" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>