@{
    ViewData["Title"] = "Shop Crafts";
}
<h3 class="mb-3">Shop Crafts</h3>

<div class="row pb-5" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card shadow">
            <img src="https://i.imgur.com/tkICv77.jpg" alt="Spider-Punk" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><a href="/crafts/1">Card title that wraps to a new line</a></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card shadow">
            <img src="https://i.imgur.com/e7CaanE.jpg" alt="Spider-Punk" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><a href="/crafts/1">Card title that wraps to a new line</a></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card shadow">
            <img src="https://i.imgur.com/sBR2aWs.jpg" alt="Spider-Punk" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><a href="/crafts/1">Card title that wraps to a new line</a></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card shadow">
            <img src="https://i.imgur.com/wHMwWAI.jpg" alt="Spider-Punk" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><a href="/crafts/1">Card title that wraps to a new line</a></h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>